@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Sign-Up Page CSS Starts */
* {
  margin: 0;
  font-family: "Lato";
  color: #000000;
  font-size: 30px;
}

.nav{
  display: flex;
  background-color: #B6686A;
  height: 18.43vh;
}

.heading {
  background-color: #FF9FA1;
  width: 33.65vh;
  height: 7.091vh;
  border-radius: 3.726vh;
  margin-top: 5.49vh;
  margin-left: 5.168vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.sign-up h2{
  line-height: 5.2884vh;
  height: 5.408vh;
  width: 1000.347vh;
  font-size: 4.447vh;
  color: #fff;
}

.container{
  display: flex;
}

.img {
  width: 29.53vh;
  height: 28.7vh;
  margin-top: 16.34vh;
  margin-left: 22.4815vh;
}

.sign-up form {
  color: #000000;
  margin-top: 9.4vh;
  margin-left: 43vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
::placeholder{
  color: #000000;
}

.sign-up input {
  border-radius: 3.58vh;
  font-size: 2.5846vh;
  height: 5.6307vh;
  width: 42.55vh;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 4vh;
  background-color: #9a9a9a4d;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.sign-up input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(81, 203, 238, 0.6);
  background-color: #f3d3f0;
}

.sign-up button {
  margin-top: 4vh;
  padding: 2.5846153846153846vh;
  border: none;
  border-radius: 4.326923076923077vh;
  cursor: pointer;
  background: linear-gradient(135deg, #2f4750 0%, #bb5fb6 100%);
  font-size: 3.365vh;
  font-weight: bold;
  color: #fff;
  transition: background 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.sign-up button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #bb5fb6 0%, #2f4750 100%);
  box-shadow: 0 4px 15px rgba(38, 162, 255, 0.5);
}

/* Sign-Up Page CSS Ends */
